/* 
    this is a comment in css 

    check coolors.co for color palettes
*/
/* 
        Selector
    1. use html tag names (div, body, p, etc.)
       not able to style things of same tag seperately
    2. id or class name
        <div id = "app-container" || class = "wrapper">
        #app-container{} || .wrapper{}
    3. input types
        input[type = "checkbox"]{}
    4. hierarchy
        > = immediate child     div>p{}
        whitespace = any child  div p{}
        + = adjacent sibling    div+p{}
        ~ = any sibling         div~p{}
*/
/* Layout
    Title/Logo
    Nav bar
    Hero section (how your company, group, etc. helps with thing)
    Each body section needs slightly different styling to differentiate them

  Box model
  1. Content
  2. Padding  (inner seperation)
      For both padding and margin:
        go in order of top, right, bottom, left
        or y axis, x axis/ vert, horiz
        or top, x axis, bottom
  3. Border
      size, style, color
      border-radius curves edges of the border
  4. Margin   (outer seperation)
  see ./image/boxmodel.png

  How to center a div element
  1. display:block
     margin: auto
  2. display: flex            (flexbox)
     justify-content: center  (horizontal)
     align-items: center      (vertical)

      flex properties
        flex-direction: row | column | row-reverse | column-reverse
  3. display: grid
     place-items: center
*/

* {
  padding: 0;
  margin: 0 0 0 5px;
  font-family: Arial, Helvetica, sans-serif;
  /* how to declare and use css variable */
  --primary-backgroud-color: #DEF2C8;
}

body {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;

  background-color: rgb(252, 243, 233);
}

#primary-heading {
  color: var(--primary-backgroud-color);
  border: 2px solid rgb(228, 8, 8);
  border-radius: 5px;
  padding: 15px;
  margin: 10px 10px 50px 10px;
  background-color: rgb(189, 181, 173);
  text-align: center;
}

.heading-group {
  
}

/* .news-events {
  display: flex;
  justify-content: center;

  .section-title {
    margin: 10px;
  }

  .media-wrapper {
    display: flex;
    flex-direction: row;

    .media-tile {
      display: flex;
      flex-direction: column;
      margin: 20px;

      .news-images {
        display: flex;
      }
      .news-text {
        display: flex;
        justify-content: center;
      }
    }
  }
} */

/* tutorial for layin out elements on the html doc
    replicating news subsection on oakland.edu */

/* root node of the section */
.news-events{
  padding: 10px;
  margin-bottom: 10px;
}

/* immediate child of root node */

.section-title{
  padding: 10px;
  margin-bottom: 20px; /* separate this child vert from next one */
  
}

.section-title-text{
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: rgb(143, 143, 143);
  color: rgb(241, 187, 68);
}

.media-wrapper{
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly; /*space-around, space-between, space-evenly can be used*/
  align-items: center;
  flex-wrap: wrap;
}

.media-tile{
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.news-media{
  padding: 15px;
  margin-bottom: 30px;
  width: 150px;
  height: 150px;
}

.news-images{
  padding: 5px;
  width: 150px;
  height: 150px;
}

.news-text > a > h3{
  padding: 10px;
  color: rgb(241, 187, 68);
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}